 .header{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
  }

  .loginLink {
    margin-top: 10px;
    text-align: center;
  }
  
  .registration {
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-flow: column;
      max-width: 25%;
      min-height: 550px;
      margin: auto;
      padding: 45px 45px 75px;
      justify-content: center;
      box-sizing: border-box;
      line-height: 1.2;
      margin-bottom: 15px;
      border-radius: 10px;
      border: 2px black solid;
      margin-top: 15px;
  }
  
  .registerbtn {
      font-size: 15px;
      margin-left: 10%;
      height: 45px;
      width: 80%;
      padding: 8px 20px;
      border-radius: 2px;
      outline: none;
      border: none;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .registerbtn:hover {
      transition: all 0.3s ease-out;
      background: rgb(207, 135, 53);
      color: #242424;
    }
  
    .input {
      font-size: 15px;
      border-width: 1px;
      line-height: 18px;
      height: 45px;
      width: 100%;
      text-indent: 2px;
      border-radius: 3px;
    }